
.frame {
    width: 900px;
    height: 600px;
    background-image: url('./images/hero-background768.png');
    background-size: contain;
}


@media
only screen and (-webkit-min-device-pixel-raito: 2),
only screen and (   min--moz-device-pixel-raito: 2),
only screen and (     -o-min-device-pixel-raito: 2/1),
only screen and (        min-device-pixel-raito: 2),
only screen and (            min-resolution: 192dpi),
only screen and (            min-resolution: 2dppx){
    .frame{
        background-image: url('./images/hero-background.png');
    }
}
