*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(to bottom,darkTurquoise,aqua, aquamarine);
}


.container{
    width: 400px;
    height: 500px;
    margin: 40px auto;
    border-radius: 20px;
    background: linear-gradient(to bottom, rgb(61, 105, 160),rgb(40, 40, 107),rgb(44, 28, 112))
    
}

.box{
    width: 350px;
    height: 400px;
    margin: 40px auto;
    padding-top: 40px ;
}

.lab{
    margin-bottom:50px;
    border-radius: 10px;
    text-indent: 10px; 
    border: 4px solid midnightblue;
    outline: none;
}

.lab:hover{
    border: 4px solid black;
}


label{
  
    font-family: 'Times New Roman', Times, serif;
    color: white;
}



#button{
    width: 80px;
    height: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight:bold;
    border-radius: 10px;    
    background-color: navy;
    color: oldlace;
}

#button:hover{
    background-color: green;
}

hr{
    margin-top: 10px;
}

p{

    margin-top: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}


