*{
    margin: 0px;
    padding: 0px;
}


.container{
    width: 1200px;
    height: auto;
    margin: 10px auto;

    background-image:linear-gradient(to bottom, rgb(26, 26, 105), rgb(70, 22, 70), rgb(35, 35, 90));
    border-radius: 20px;


}

.sarlovha{
    width: 1200px;
    height: 600px;
    margin: 0px auto;

}
img{
    margin-left: 25px;
    margin-top: 25px;
    border-radius: 20px;
}

.menu{
    width: 902px;
    height: 60px;
    margin-left: 290px;
 
    position: relative;
    top: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;

}


.box{
    width: 130px;
    height: 40px;
    border: 2px solid  ;
    margin-left: 20px;
    text-align: center;
    line-height: 2;
    color: rgb(18, 18, 46);
    font-weight: bold;
    font-size: 20px;
    background-color: darkslateblue;
    border-radius: 20px;

}
.a1{
    width: 200px ;
}
.a2{
    width: 170px ;
}



.box:hover{
    background-color: purple;
}
a{
    color:rgb(18, 18, 46);
    text-decoration: none;
}

.asosiy_qism{
    width: 1200px;
    height: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    top: -300px;
    
}
.qismlar{
    width: 200px;
    height: 150px;
    border: 2px solid black;
    margin: 20px 20px;

  

}