.about-us__container {
    height: 450px;
    background-image: url('./../images/about-us-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-bottom: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;  
    padding-left: 85px;
    
    @media only screen and (max-width: 1160px) {
        height: 430px;
        background-position: -80px;
    }
    
    @media only screen and (max-width: 950px) {
        height: 415px;
        background-position: -100px;
    }
}

.about-us__heading {
    width: 445px;
    color: #FEFCF7;
    font-family: "Fraunces", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px; /* 120% */
    margin-bottom: 24px;

    @media only screen and (max-width: 1160px) {
        font-size: 36px;
        line-height: 46px; /* 120% */
    }
    
    @media only screen and (max-width: 950px) {
        font-size: 34px;
        line-height: 44px; /* 120% */
    }
}

.about-us__text {
    width: 445px;
    color: #FEFCF7;
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */

        
    @media only screen and (max-width: 950px) {
        width: 430px;
    }
}


@media only screen and (max-width: 768px) {
    .about-us__container {
        height: 400px;
        background-image: url('./../images/about-us-bg2.png');
        background-position: 0px;
        padding-left: 58px;
        background-size: contain;
    }
    
    .about-us__heading {
        width: 150px;
        font-size: 32px;
        line-height: 40px; /* 120% */
        margin-bottom: 24px; 
    }
    
    .about-us__text {
        width: 400px;
        font-size: 15px;
        line-height: 25px; /* 162.5% */   
    }
    
}