.headquarters__container {
    max-width: 1085px;
    width: 100%;
    margin-bottom: 170px;
    padding-left: 20px;
    padding-right: 20px;
    
}

.headquarters__heading {
    color: #83888F;

    font-family: "Fraunces 9pt";
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px; /* 133.333% */
    margin-bottom: 72px;
}

ul {
    display: flex;
    justify-content: space-between;
}

.headquarters__item {
    max-width: 300px;
    width: 100%;
}


.headquarters__item::before {
    content: '';
    display: inline-block;
    background-repeat: no-repeat;
    width: 52px;
    height: 52px; 
    margin-bottom: 45px;
}

.headquarters__item:nth-child(1)::before {
   background-image: url('./../images/united-kingdom.svg');
   background-size: 41px 50px;
}

.headquarters__item:nth-child(2)::before {
    background-image: url('./../images/canada.svg');
    background-size: 51px 50px;
 }

 .headquarters__item:nth-child(3)::before {
    background-image: url('./../images/australia.svg');
    background-size: 50px 44px;
 }

.headquarters_heading {
    color: #333D4B;

    font-family: "Fraunces",sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 36px; /* 112.5% */
    margin-bottom: 25px;
}

.headquarters__text {
    color: #333D4B;

    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}

@media only screen and (max-width: 970px){
    .headquarters__container {
        max-width: 728px;
        width: 100%;
        margin-bottom: 144px;
    }
    
    .headquarters__item {
        max-width: 222px;
    }
    
    
    .headquarters_heading {
        font-size: 24px;
        line-height: 36px; /* 112.5% */
        margin-bottom: 21px;
    }
}

@media only screen and (max-width: 720px){
    .headquarters__container {
        width: 100%;
        margin-bottom: 120px;
    }

    .headquarters__heading {
        text-align: center;
    }

    .headquarters__list {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .headquarters__item {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .headquarters__item +  .headquarters__item {
        margin-top: 80px;
    }

    .headquarters__item::before {
        margin-bottom: 48px;
    }    
    
    .headquarters_heading {
        font-size: 28px;
        margin-bottom: 22px;
        text-align: center;
    }
    
    .headquarters__text {
        width: 80%;
        text-align: center;
    }
}