.about-us__container {
    min-height: 450px;
    background-image: url('./../images/about-us-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-bottom: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;  
    padding-left: 85px;
    
    @media only screen and (max-width: 1160px) {
        min-height: 430px;
        background-position: -80px;
    }
    
    @media only screen and (max-width: 950px) {
        min-height: 415px;
        background-position: -100px;
    }
}

.about-us__heading {
    max-width: 445px;
    width: 100%;
    color: #FEFCF7;
    font-family: "Fraunces", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px; /* 120% */
    margin-bottom: 24px;
    
    @media only screen and (max-width: 1160px) {
        font-size: 36px;
        line-height: 46px; /* 120% */
    }
    
    @media only screen and (max-width: 950px) {
        font-size: 34px;
        line-height: 44px; /* 120% */
    }
}

.about-us__text {
    max-width: 445px;
    width: 100%;
    color: #FEFCF7;
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    
    @media only screen and (max-width: 950px) {
        max-width: 430px;
        width: 100%;
    }
}


@media only screen and (max-width: 768px) {
    .about-us__container {
        min-height: 400px;
        background-image: url('./../images/about-us-bg2.png');
        background-position: 0px;
        padding-left: 58px;
        background-size: cover;
        
        @media only screen and (max-width: 640px) {
            background-position: -60px;
        }
        
        @media only screen and (max-width: 520px) {
            background-position: -200px;
        }
    }
    
    .about-us__heading {
        max-width: 150px;
        width: 100%;
        font-size: 32px;
        line-height: 40px; /* 120% */
        margin-bottom: 24px; 
    }
    
    .about-us__text {
        max-width: 400px;
        width: 100%;
        font-size: 15px;
        line-height: 25px; /* 162.5% */ 
        @media only screen and (max-width: 520px) {
            width: 300px;
        }
        
    }
}

@media only screen and (max-width: 400px) {
    .about-us__container {
        min-height: 400px;
        background-image: url('./../images/about-us-bg3.png');
        background-size: cover;
        background-position: 0px;
        padding-left: 5px;
        align-items: center; 
        padding-top: 24px;
    }
    
    .about-us__heading {
        max-width: 280px;
        width: 100%;
        font-size: 28px;
        line-height: 28px; /* 120% */
        margin-bottom: 24px; 
        text-align: center;
    }
    
    
    .about-us__text {
        max-width: 280px;
        width: 100%;
        text-align: center;
    }
}