.header {
  position: relative;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 44px;
  margin-bottom: 44px;
}

.header__container img {
  width: 236px;
  height: 26px;
}

.header__list {
  width: 283px;
  display: flex;
  justify-content: space-between;
}



.header__item {
  a {
    color: #83888F;
    font-family: 'Barlow', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px; /* 125% */
    letter-spacing: 0.923px;
    text-transform: uppercase;
  }
}

.header__item {
  .header--active{
    color: #333D4B;
    letter-spacing: 0.923px;
  }
}

.header__item {
  a:hover {
    color: #333D4B;
    letter-spacing: 0.923px;
    cursor: pointer;
  }
}

.header__burger {
  display: none;
  background-color: transparent;
  outline: none;
  border: none;
  z-index: 999;
}


.menu__off {
  display: none;
}




@media only screen and (max-width: 570px) {
  .header__container {
    margin-top: 32px;
    margin-bottom: 80px;

    & img{
      width: 163px;
      height: 18px;
    }
  }
  
  .header__list {
    display: none;

    width: 100%;
    border: 2px solid red;
    height: calc(100vh - 70px);
    position: absolute;
    text-align: center;
    background-color: white;
    top: 100%;
    flex-direction: column;
    justify-content: start;
    left: 0;
    

    .header__item {
      a {
        font-family: "Fraunces";
        font-weight: 900;
        font-size: 24px;
        line-height: 32px; /* 125% */
        color: #333D4B;
        text-transform: capitalize;
      }
      margin-bottom: 32px;
    }
  
  }
  
  
  .header__burger {
    display: block;
  } 

  .header__burger img {
    width: 16px;
    height: 15px;
  }

  .burger--click {
    .header__list {
      display: block;
    }

    .menu__on {
      display: none;
    }

    .menu__off {
      display: block;
    }
  }
  

}




