.how-it-works {
    margin-bottom: 200px;
    display: flex;
  }

  
  .how-it-works__container {
    max-width: 105b5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  
  .how-it-works__heading {
    color: #83888F;
    font-family: 'Fraunces', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px; /* 133.333% */
    margin-bottom: 80px;
  }
  
  .how-it-works__list {
    display: flex;
    margin-bottom: 64px;
  }
  
  .how-it-works__item {
    max-width: 380px;
    width: 100%;
    padding-right: 95px;
    border-top: 1px solid #FDD6BA;
    position: relative;
  }
  
  .how-it-works__item:nth-child(3) {
    border-top: none;
    
  }
  
  .item__round {
    width: 30px;
    height: 30px;
    border: 1px solid #0E8784;
    border-radius: 50%;
    position: absolute;
    top: -18px;
    margin-bottom: 37px;
    background-color: white;
  }
  
  .item__number {
    color: #FDD6BA;
    font-family: 'Fraunces', sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 72px; /* 100% */
    margin-bottom: 38px;
    margin-top: 82px;
    
  }
  
  .item__heading {
    max-width: 255px;
    width: 100%;
    color: #333D4B;
    font-family: 'Fraunces', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 36px; /* 112.5% */
    margin-bottom: 42px;
  }
  
  .item__paragraph {
    color: #333D4B;
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
  }


  @media only screen and (max-width: 768px) {
    .how-it-works {
      margin-bottom: 144px;
      display: flex;
    }
    
    .how-it-works__heading {
      margin-bottom: 55px;
    }
    
    .how-it-works__list {
      display: flex;
      margin-bottom: 44px;
    }
    
    .how-it-works__item {
      max-width: 223px;
      width: 100%;
      padding-right: 20px;
    }
    
    .item__number {
      margin-bottom: 42px;
      margin-top: 48px;
    }
    
    .item__heading {
      max-width: 223px;
      width: 100%;
      font-size: 28px;
      line-height: 32px; /* 112.5% */
      margin-bottom: 38px;
    }
    
    .item__paragraph {
      font-size: 15px;
      line-height: 25px; /* 162.5% */
    }
      
  }
  
  