.choosing {
    &__container {
        display: flex;
        padding-right: 85px;
        padding-left: 85px;
    }


    &__left-list {
        max-width: 255px;
        display: flex;
        flex-direction: column;
    } 

    &__left-item, &__left-item:not(:last-child) {
        font-family: 'Fraunces', sans-serif;
        font-size: 24px;
        font-weight: 900;
        line-height: 32px;
        color: rgba(51, 61, 75, 0.4);
        padding-bottom: 24px;
        padding-top: 24px;
        border-bottom: 1px solid rgba(131, 136, 143, 1);
    }

   





 
}