.plan-how-it-works {
    div {
        background-color: rgba(51, 61, 75, 1);
        border-radius: 10px;
        ul {
            li {
                .item__heading, .item__paragraph  {
                    color: rgba(254, 252, 247, 1);
                }
            }
        }
    }


}